
.cart-container {
    width: 75%;
    height: 80vh;
    margin: 100px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
  }


  .cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
  }

  .cart-item-img-container{
    height: 180px;
    width: 180px;
  }

  .cart-item-container{
    width: 74%;
  }
  
  .cart-item-img{
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .cart-item-details {
    flex-grow: 1;
    margin-left: 10px;
  }
  
.cart-item-details-title{
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
}
  
.cart-item-details-size{
  font-size: 20px;
  margin: 10px 0;
}
  

.cart-product-discountedPrice{
  font-size: 25px;
  margin-right: 8px;
}

.cart-product-price{
  text-decoration-line: line-through;
  font-size: 18px;
  margin-right: 5px;
  color: #444;
}

.cart-product-discountPercent{
  font-size: 19px;
  color: rgb(249, 25, 25);
  margin-right: 5px;
}

  
  .cart-item-actions {
    display: flex;
    align-items: center;
    font-size: 22px;
    height: 35px;
  }
  .cart-item-icons{
    margin-right: 10px;
    cursor: pointer;
  }

 
  .cart-summary {
    text-align: left;
    margin-top: 20px;
    width: 25%;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 30px;
  }
  
  .cart-summary p {
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .cart-summery-price-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .create-order-payment-btn{
    width: 90%;
    margin: 20px auto;
    background-color: rgb(161, 12, 161);
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }