.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 20px;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease;
}

.navbar.transparent {
  background-color: transparent;
}

.navbar.solid {
  background-color: #ebd4f6;
  /* transition: background-color 0.3s ease; */
}

.navLinks-ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.nav-logo {
  height: 70px;
}



.navLinks {
  padding: 0 10px;
  position: relative;
  height: 75px;
  display: flex;
  align-items: center;
}

.navLinks a {
  color: black;
  text-decoration: none;
}

.navbar-right {
  display: flex;
  align-items: center;
  position: relative;
}
/* 
.search-box{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
} */

.navbar-right-btn {
  font-size: 22px;
  margin-right: 10px;
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.cart-icon,
.user-icon {
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.mega-menu {
  display: flex;
  position: absolute;
  top: 73px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.submenu-column {
  flex: 1;
  margin: 0 50px;
  width: 30%;
}

.submenu-column h3 {
  margin: 0 0 10px;
  font-size: 18px;
}

.submenu-column ul {
  list-style-type: none;
  padding: 0;
}

.submenu-column ul li {
  margin-bottom: 5px;
}

.submenu-column ul li a {
  color: black;
  text-decoration: none;
}

.submenu-column ul li a:hover {
  text-decoration: underline;
}

.navLinks:hover .mega-menu {
  display: flex;
}

.search-container {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px; /* Space between search box and other elements */
}

.search-icon {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px; /* Space between search icon and input field */
}

.search-form {
  display: flex;
  align-items: center;
  position: absolute;
  margin-right: 20px;
  right: 50%;
}

.search-form input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  width: 250px; /* Adjust width as needed */
}

.search-form button {
  background-color: black;
  border: none;
  color: white;
  padding: 8px 12px;
  /* margin-left: 5px; */
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.cart-icon-container{
  display: flex;
  align-items: center;
  position: relative;
}

.cart-item-count{
  position: absolute;
  top: -25px;
  right: 0px;
  font-size: 13px;
  background: red;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
}