.address-header{
  margin-bottom: 30px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.address-step-container {
    display: flex;
    gap: 20px;
  }
  
  .address-list {
    flex: 1;
  }
  
  .address-item {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .address-line{
    font-size: 18px;
  }

  .address-line-header{
    font-weight: 500;
  }

  .address-buttons{
    display: flex;
    align-items: center;
  }

  .address-button{
    font-size: 24px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .address-select-button{
    font-size: 18px;
    padding: 6px 15px;
    background-color: #E3A5C7;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
  }

  .add-address-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .address-form-line{
    font-size: 17px;
    margin: 0;
  }

  
  .add-address-form input,
  .add-address-form button {
    padding: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: 1px solid #ddd;
  }


.address-submit-form{
  background-color: #E3A5C7;
  color: black;
  cursor: pointer;
  border: none;
  text-align: center;
  padding: 10px 0;
  border-radius: 5px;
  font-size: 17px;
}