.filter-product-container {
  margin: 100px auto;
  width: 90%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.filter-options {
  width: 22%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 40px 15px;
}

.filtered-product {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: auto;
  gap: 20px;
}

.filtered-product-container{
  width: 74%;
}

.filter-header{
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.filter-header-title{
  font-size: 27px;
  font-weight: 600;
  margin:0 10px 0 0;
}

.filter-header-icon{
  font-size: 25px;
}

.filtered-product-header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filtered-product-heading{
  font-size: 30px;
  font-weight: 700;
}

.sort-price{
  display: flex;
  align-items: center;
}

.sort-filter-header{
  font-size: 20px;
  margin: 0 10px ;
}


.sort-price select{
  width: 200px;
  padding: 4px 5px;
  font-size: 16px;
}
/* .filter-options p,.filter-options label{
    font-size: 20px;
} */

.filter-headings {
  font-size: 20px;
  margin: 20px 0 5px;
}

.color-filter-option input[type="checkbox"],
.size-filter-option input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: black;
}

.color-filter-option,
.size-filter-option {
  font-size: 20px;
}

.minDiscount select,
/* .sort-price select, */
.product-stock select {
  width: 50%;
  padding: 4px 5px;
}


.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.pageNum{
  width: 25px;
  height: 25px;
  padding: 5px;
  border: 1px solid black;
  text-align: center;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.pageNum:hover{
  background-color: #ebd4f6;
  color: black;
}

.currentPageNum{
  background-color: #E3A5C7;
  color: black;
}

.horizontal-slider {
  width: 90%; 
  height: 20px;
  position: relative;
}

.horizontal-slider .track {
  background: #ddd;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 2px;
}

.horizontal-slider .thumb {
  height: 20px;
  width: 20px;
  background: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: 2px solid white; 
}